* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  width: 100vw;
  height: 100vh;

  background: url("../images/bg_image.jpg");
  background-size: cover;
  background-position: top;
  background-color: $color;
  font-family: "Open Sans";

  .container {
    height: 100%;
    width: 100%;
    display: grid;
    grid-template-rows: 20% 35% 20% 15% 10%;
    grid-template-areas:
      "header"
      "song"
      "buttons"
      "progres"
      "footer";
  }

  &:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;

    background: linear-gradient(
      to top,
      rgba(33, 28, 54, 1),
      rgba(33, 28, 54, 1),
      rgba(33, 28, 54, 0.8)
    );
    z-index: -1;
  }
}

a {
  text-decoration: none;
}
img {
  width: 100%;
}

// Buttons

// Footer

// RWD

@media screen and (max-width: 425px) {
  .header {
    grid-area: header;
    display: flex;

    justify-content: space-around;
    align-items: center;

    .back {
      width: 0.8rem;
      height: 0.8rem;
      align-self: flex-start;
    }

    .album {
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-start;

      margin: 0;
      margin-top: 0;
      span:first-child {
        font-size: 1rem;
      }

      span:nth-of-type(2) {
        font-size: 1.5rem;
        color: white;
      }
    }

    .header__menu {
      width: 1rem;
      height: 1rem;
      align-self: flex-start;

      div {
        width: 3px;
        height: 3px;
        border-radius: 50px;
        background: white;
      }
    }
  }

  .song {
    justify-content: center;
    .song__image {
      width: 10rem;
      height: 10rem;
    }

    .song__title {
      font-size: 2rem;
    }

    .song__author {
      font-size: 1rem;
    }
  }

  .buttons {
    .play {
      width: 6rem;
      height: 6rem;
    }

    .play-active {
      width: 10rem;
      height: 10rem;
    }

    div {
      width: 1.5rem;
      height: 1.5rem;
    }
  }

  .footer {
    &-menu {
      width: 3rem;
      height: 3rem;
      padding: 0.5rem;
    }
  }

  .menu {
    .album-cover {
      width: 7rem;
      height: 7rem;
    }

    &-song-title {
      font-size: 2rem;
    }

    &-author {
      font-size: 0.8rem;
    }

    .menu-dots,
    .add-to-playlist,
    .show-album,
    .share {
      margin: 1rem 0;

      a {
        font-size: 1rem;
      }
    }

    &-dots {
      width: 2rem;
      height: 2rem;

      div {
        width: 5px;
        height: 5px;
        border-radius: 50px;
        background: white;
      }
    }
  }
  .playlist {
    bottom: -200%;

    ol {
      li {
        font-size: 1rem;
        margin: 0.5rem 0;
      }
    }

    .btn-shuffle {
      width: 15rem;
      height: 2rem;
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }
  }

  .playlist-open {
    bottom: 0%;

    .hide-menu {
      width: 3rem;
      height: 3rem;
    }
    ol {
      li {
        font-size: 1rem;
        margin: 0.5rem 0;
      }
    }

    .btn-shuffle {
      width: 15rem;
      height: 2rem;
      margin-bottom: 0.5rem;
      font-size: 1rem;
    }

    .pagin-buttons {
      width: 3rem;

      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .pagin-up,
      .pagin-down {
        width: 1rem;
        height: 1rem;
        margin: 5rem 0;
      }
    }
  }
}
